@weuiFontEN:-apple-system-font,"Helvetica Neue";
@weuiFontCN:"PingFang SC","Hiragino Sans GB","Microsoft YaHei";
@weuiFontSans:sans-serif;
@weuiFontDefault:@weuiFontEN,@weuiFontSans;

@default-margin: 12px;
@default-radius: 3px;

@default-background-color: #f5f5f5;
@light-background-color: #ffffff;
@navigation-bar-background-color: #fcfcfc;

@font-size-large: 18px;
@font-size-normal: 16px;
@font-size-small: 14px;
@font-size-x-small: 12px;

@default-text-color: #616161;

@default-border-color: #f3f3f3;

@color-comment: #acacab;
@color-warning: #977e42;
@color-error: #fd4848;
@color-primary: #63c284;

// Form
@form-control-padding: 8px;
