@weuiFontEN:-apple-system-font,"Helvetica Neue";
@weuiFontCN:"PingFang SC","Hiragino Sans GB","Microsoft YaHei";
@weuiFontSans:sans-serif;
@weuiFontDefault:@weuiFontEN,@weuiFontSans;

@default-margin: 16px;
@default-radius: 3px;

@default-background-color: #f5f5f5;
@navigation-bar-background-color: #fcfcfc;

@font-size-large: 18px;
@font-size-normal: 16px;
@font-size-small: 14px;
@font-size-x-small: 12px;

@default-text-color: #616161;
@light-text-color: #9ea0a5;
@text-color-green: #4fb974;

@color-comment: #acacab;
@color-warning: #977e42;
@color-error: #fd4848;
@color-primary: #63c284;

//img
@circle-img-size: 400rpx;

// Form
@form-control-padding: 8px;
