@import "../less/variables.less";

.login-page {
  height: 100%;
  background-color: #f7f7f5;

  .form .input {
    background-color: #fff;
  }

  .paragraph.comment {
    font-size: @font-size-small;
    text-align: right;
  }
}
