@import "../less/variables.less";

.entry-page {
  background-color: @default-background-color;

  .form .input {
    background-color: #fff;
  }

  .paragraph.comment {
    font-size: @font-size-small;
    text-align: right;
  }
}
